<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.shorturl.project.dao.mapper.LinkOsStatsMapper">
    <select id="listOsStatsByByGidList" parameterType="com.zhao.shorturl.project.dto.req.ShortLinkStatsReqDTO"
            resultType="hashmap">
        SELECT
        os,
        SUM(cnt) AS `count`
        FROM
        t_link_os_stats
        WHERE gid IN
        <foreach collection='param.gidList' item='gid' open='(' separator=',' close=')'>
            #{gid}
        </foreach>
        AND date BETWEEN #{param.startDate} and #{param.endDate}
        GROUP BY os;
    </select>
</mapper>