<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.shortlink.project.dao.mapper.LinkAccessStatsMapper">
    <select id="listStatsByGidList" parameterType="com.zhao.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="com.zhao.shortlink.project.dao.entity.LinkAccessStatsDO">
        select `date`,
        SUM(pv) AS pv,
        SUM(uv) AS uv,
        SUM(uip) AS uip
        FROM
        t_link_access_stats
        WHERE gid IN
        <foreach collection='param.gidList' item='gid' open='(' separator=',' close=')'>
            #{gid}
        </foreach>
        AND `date` BETWEEN #{param.startDate} and #{param.endDate}
        GROUP BY `date`;
    </select>

    <select id="listHourStatsByGidList" parameterType="com.zhao.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="com.zhao.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT
        `hour`,
        SUM(pv) AS pv
        FROM
        t_link_access_stats
        WHERE gid IN
        <foreach collection='param.gidList' item='gid' open='(' separator=',' close=')'>
            #{gid}
        </foreach>
        AND `date` BETWEEN #{param.startDate} and #{param.endDate}
        GROUP BY `hour`;
    </select>

    <select id="listWeekdayStatsByGidList" parameterType="com.zhao.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="com.zhao.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT
        weekday,
        SUM(pv) AS pv
        FROM
        t_link_access_stats
        WHERE gid IN
        <foreach collection='param.gidList' item='gid' open='(' separator=',' close=')'>
            #{gid}
        </foreach>
        AND `date` BETWEEN #{param.startDate} and #{param.endDate}
        GROUP BY weekday;
    </select>
</mapper>